body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 233, 255);
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: DsDigi;
    src: url(../styles/DS-DIGIB.TTF);
    font-weight: bold;
}

.body-wrapper{
    position: relative;
    width: 100vw;
    content: "";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.component-net{
    width: 250px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin: 2rem;
    box-shadow: 5px 5px 10px #00000027;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.component-net--name{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.icon-computer{
    width: 100%;
    height: 8rem;
    display: block;
    background-image: url(../icons/computer_30842.png);
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5rem 0 0.5rem 0px;
}

.component-net b{
    display: block;
    width: 100%;
    text-align: center;
}

.component-net--timer{
    font-family: DsDigi;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.component-net--now{
    font-family: DsDigi;
    font-size: 1.8rem;
    text-align: center;
    margin-top: -5px;
}

.divider{
    display: block;
    width: 100%;
    height: 1.5px;
    margin: 1rem 0 1cqw 0;
    content: "";
    background-color: black;
}

.component-net--services{
    content: "";
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 0.98rem;
    margin: 0.3rem 0;
}

.col{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.services-button{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.services-qtd{
    width: 65px;
    height: 20px;
}

.services-value{
    width: 98px;
    display: block;
    border-radius: 3px ;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.button-start{
    width: 80%;
    font-weight: bold;
    padding: 0.3rem 0.3rem;
    color: white;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50% , 0);
    cursor: pointer;
}

.final-value{
    margin-top: 3.5rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.component-net .start{
    background-color: #2572CB;
    visibility: visible;    
}

.component-net .stop{
    background-color: #a30000;
    visibility: hidden;    
}

.component-net .reset{
    background-color: #00892b;
    visibility: hidden;
}

.menu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.menu-icon{
    width: 0.1rem;
    height: 1.3rem;
    content: "";
    left: 0;
    background-image: url(../icons/ellipsis-vertical-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px ;
    border-style: solid;
    border-width: 1px;
    padding: 0.1rem;
    background-color: #2572CB;
    -webkit-mask-image: url(../icons/ellipsis-vertical-solid.svg);
    mask-image: url(../icons/ellipsis-vertical-solid.svg);
}

.net01-img{
    background-image: url("../icons/net01-rearrange.png");
    width: 8rem;
    height: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card-nav{
    display: flex;
    position: relative;   
}

.navbar{
    z-index: 20;
    display: flex;
    flex-direction: row;
    width: 974px;
    position: absolute;
    top: 3rem;
    left: 50%; 
    transform: translateX(-50%);
}

.post-icon{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    width: 200px;
    height: 30px;
    background-image: url("../icons/postnet-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-rearrange{
    z-index: 20;
    position: absolute;
    cursor: pointer;
    left: 100%;
    transform: translateX(-100%);
    height: 35px;
    width: 35px;
    padding: 0;
    content: "";
    background-color: #2572CB;
    -webkit-mask-image: url("../icons/repeat-solid.svg");
    mask-image: url("../icons/repeat-solid.svg");
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 21;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #2572cb8f;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
}

.modal-nets{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.modal-col{
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.rearrange-icon{
    background-image: url("../icons/repeat-solid.svg");
    width: 1.5rem;
    height: 1.5rem;
    content: "";
}

.button-modal{
    width: 8rem;
    font-weight: bold;
    padding: 0.3rem 0.3rem;
    color: white;
    background-color: #2572CB;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.net-block{
    height: 3rem;
    font-weight: bold
}

.modal-row span{
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 1dvh;
}

.UsageLog-Net01 li{
    list-style-type: none;
    justify-content: center;
    align-items: center;

}

.UsageLog-Net01 .col{
    display: block;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
}

footer{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100vw;
    /* background-color: black; */
    color: #a59ed15c;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

footer a{
    text-decoration: none;
    color: #a59ed15c;
}

footer a:visited{
    text-decoration: none;
    color: #a59ed15c;
}

.modal-content .col{
    flex-direction: column;
    justify-content: top;
}

#CancelRearrangeModal{
    background-color: rgb(247, 153, 153);
    color: black;
}

@media screen and (max-width: 800px) {
    body{
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0;
        font-size: 20px;
    }
    
    .body-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
    }
    
    .component-net{
        width: 90%;
        margin: 2rem 0;
        position: relative;
    }
        
    .row{
        font-size: 1.3rem;
    }

    .navbar{
        display: flex ;
        height: 5rem;
        width: 100%;
        position: relative;    
    }
    
    .btn-rearrange{
        left: 95%;
    }
    
    .modal-backdrop{
        position: relative;
        display: block;
        width: 100%;
    }
        
    footer{
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        font-size: 0.8rem;
        bottom: 0.5rem;
    }

}

@media screen and (max-width: 350px) {
    body{
        font-size: 15px;
    }
        
    .component-net{
        margin: 1rem 0;
    } 
    
    .row{
        font-size: 1rem;
    }
    
    .services-value{
        font-size: 0.5rem;
    }
        
    .final-value{
        margin-top: 3rem;
        font-size: 1.5rem;
    }
        
    .navbar{
        display: flex ;
        height: 5rem;
        width: 100%;
        position: relative;    
    }
    
    .post-icon{
        width: 150px;
        height: 30px;
    }
    
    .modal-backdrop{
        position: relative;
        display: block;
        width: 100%;
    }

    footer{
        font-size: 0.5rem;
        bottom: 0.3rem;
    }
}